  @media only screen and (max-width: 710px) {
    .chat-wrapper > .contacts {
      width: 100vw;
    }
    .chatroom {
      display: none;
    }
    .chat-wrapper > .chatbox > .header {
      top: 5px;
      left: 5px;
      position: fixed;
      flex-shrink: 0;
    }
  }